{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": { "browser": true },
  "rules": {
    "max-len": ["error", 80],
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": [
      "warn",
      {
        "multiline": true,
        "consistent": true
      }
    ],
    "react/jsx-filename-extension": "off"
  }
}
