body {
  margin: 0;
}

.wrapper {
  height: 10000px;
}

/* Testing offset */

:root {
  --header-height: 50px;
}

.offset__header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  background-color: aqua;
}

.offset__inner-wrapper {
  margin-top: calc(var(--header-height) + 50px);
  height: 100%;
}

.offset__sticky-classname {
  top: var(--header-height);
}
