body {
  margin: 0;
}

.wrapper {
  height: 10000px;
}

/* Testing offset */

:root {
  --header-height: 50px;
}

.offset__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: aqua;
}

.offset__inner-wrapper {
  height: 100%;
  margin-top: calc(var(--header-height) + 50px);
}

.offset__sticky-classname {
  top: var(--header-height);
}

/* Testing whether element gets unstuck when out of view */

.unstuck-when-out-of-view__inner-wrapper {
  height: 500px;
}
